@import "variables";

    header {
        display: flex;
        background-color: $fondoHeader;
    
        img {
          display: inline;
          height: 80px;
        }
    
        div {
          display: inline;
          
          button {
            display: inline;
          }
          .fondoNav{
            background-color: $fondoHeader !important;
          }
        }
    }
